nav{
	text-align: center;
}

textarea 
{
	overflow-y:scroll;
	resize: none;
}
/* .tab {position:sticky;left:250px;} */
.res_div{
	border: 3px solid green;
	border-radius: 20%;
}

#id-drop-zone {
	background-image: url('../img/file.svg');
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: center 30%;
	background-color: #FAFAFA;
 	border: 2px solid orange;
	height: 360px;
	text-align: center;
	line-height: 360px;
}

.navbar{
    background-color: orange;
}